body {
  background: #433D3D;
}

.progress {
  width: 250px;
  height: 20px;
  border: 1px solid #aaa;
  background-color: #eee;
  position: relative;
}

.progress > .value {
  display: block;
  height: 100%;
  color: black;
  background-color: #06C798;
}

.progress > .text {
  font-size: 16px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sites-container {
  right: 0%;
  position: relative;
  text-align: center;
  opacity: 1;
  display: none;
}

.sites-table {
  display: inline-table;
  border-collapse: collapse;
  color: #FFF;
}

.sites-table th {
  background: #E4F1FE;
  color: #2C3E50;
}

.sites-table td, .sites-table th {
  padding: 8px 5px 8px 8px;
  border: 1px solid #E4F1FE;
}

.sites-table a {
  color: #82D6C8;
}

.sites-table .text {
  color: #000;
}

.trash-container {
  text-align: center;
}

.svg-trash {
  width: 24px;
  height: 24px;
}

.scroll-left {
  right: 100%;
  opacity: 0.1;
  transition: right 2s, opacity 1s;
}

.scroll-back {
  right: 0;
  opacity: 1;
  transition: right 2s, opacity 1s;
}

.scroll-right {
  left: 100%;
  opacity: 0.1;
  transition: right 2s, opacity 1s;
}

.host-stats {
  position: relative;
  display: none;
}

.custom {
  display: block;
  visibility: hidden;
  margin: 10px;
}

.custom:last-child {
  color: red;
}

.graphic {
  border: 1px solid black;
}

.extras {
  padding-top: 20px;
}

.highlight-date {
  color: red;
}
