<html>
  <head>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="trash">
        <path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/>
      </symbol>
      <symbol id="left-arrow">
        <path d="m 7.8289241,0.24063929 c 0.338342,-0.32085238 0.8710024,-0.32085238 1.2093444,0 0.3269115,0.3100132 0.3269115,0.82597901 0,1.13526951 L 2.9061987,7.1910033 H 23.141191 C 23.612888,7.1910033 24,7.5465426 24,7.9938579 c 0,0.4473147 -0.387112,0.814416 -0.858809,0.814416 H 2.9061987 l 6.1320698,5.8042541 c 0.3269115,0.320853 0.3269115,0.837542 0,1.146831 -0.338342,0.320855 -0.8710024,0.320855 -1.2093444,0 L 0.2451837,8.5676346 c -0.3269116,-0.3100127 -0.3269116,-0.8259787 0,-1.13527 z">
	</path>
      </symbol>
    </svg>
    <div class="statistics">
      <div class="sites-container" id="container">
        <table class="sites-table" id="sites">
          <tr>
            <th>#</th>
            <th style="width: 70%">HOST</th>
            <th>Usage time</th>
            <th>Option</th>
          </tr>
        </table>
      </div>
      <div id="host-stats" class="host-stats-modal">
	<div class="modal-content">
	  <div class="top-container">
	    <div class="left-arrow-container" id="close-hs-modal">
	      <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="left-arrow">
                <use xlink:href="#left-arrow"></use>
	      </svg>
	    </div>
	    <h3 class="title">Statistics for <span id="site-stat"></span></h3>
	  </div>
	  <div class="middle-container">
            <label for="usage">Usage:</label>
            <select name="usage" id="usage">
              <option value="0">Weekly</option>
              <option value="1">Monthly</option>
              <option value="2">Yearly</option>
              <option value="custom">Custom</option>
            </select>
            <div id="custom" class="custom">
              <label for="start-date">Start date:</label>
              <select name="start-date" id="start-date">
              </select>
              <label for="end-date" style="margin-left: 5px;">End date:</label>
              <select name="end-date" id="end-date">
              </select>
            </div>
            <div id="graphic" class="graphic">
              <h1>
              Hello, I'm a graphic that shows statistics.
              </h1>
            </div>
            <div class="extras">
              <h4>Day with most usage time:</h4>
              <ul>
		<li><span style="font-weight: bold">On the given interval:</span> <span id="most-interval" class="highlight">02/03/2004</span> with <span id="usage-interval" class="highlight">27 minutes and 44 seconds</span> of usage.</li>
		<li><span style="font-weight: bold">Of all time:</span> <span id="most-all" class="highlight">01/03/1999</span> with <span id="usage-all" class="highlight">23 hours, 12 minutes and 36 seconds</span> of usage.</li>
              </ul>
            </div>
	  </div>
	</div>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
