.progress {
  width: 250px;
  height: 20px;
  border: 1px solid #aaa;
  background-color: #eee;
  position: relative;
}

.progress > .value {
  display: block;
  height: 100%;
  color: black;
  background-color: #06C798;
}

.progress > .text {
  font-size: 16px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
