<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="options.css">
  </head>
  <body>
    <div class="sidebar">
      <a href="#how-to-use">How to use</a>
      <a href="#settings">Settings</a>
      <a href="#storage">Storage</a>
      <a href="#feedback">Feedback</a>
    </div>
    <div class="main">
      <div id="how-to-use" class="tab-content">
        <h1>How to use</h1>
	<p>How to use the extension</p>
      </div>
      <div id="settings" class="tab-content">
        <h1>Settings</h1>
	<p>Extension settings regarding protocol matching, hosts and runtime logging.</p>
	<fieldset>
	  <legend>Protocols</legend>
	  <div class="elements">
            <input type="radio" name="p-matching" id="include">
	    <label for="match">Match only these protocols</label>
            <input type="radio" name="p-matching" id="exclude">
	    <label for="exclude">Match every protocol, except these</label>
	    <div class="input-group">
	      <input type="text" name="protocols" placeholder="protocols" pattern="[a-zA-Z]*(,[a-zA-Z]+)*" title="Comma separated values" id="protocols">
	      <button>Apply</button>
	    </div>
	  </div>
	</fieldset>
	<fieldset>
	  <legend>Hosts</legend>
	  <div class="frame">
	    <table id="host-table">
	      <tr>
	        <th>HOST</th>
	        <th>ACTIVE</th>
	      </tr>
	    </table>
	  </div>
	</fieldset>
	<fieldset>
	  <legend>Logging</legend>
	  <div class="elements">
	    <input type="checkbox" name="log" id="log">
	    <label for="log">Enable event logs</label>
	  </div>
	</fieldset>
      </div>
      <div id="storage" class="tab-content">
        <h1>Storage</h1>
	<p>Info regarding the storage</p>
	<h3>Why unlimited?</h3>
	<p>Why?</p>
	<h3>Current storage</h3>
	<p>Current value in bytes</p>
	<h3>Estimation</h3>
	<p>Storage estimation</p>
	<h3>Export data</h3>
	<p>Export local storage data</p>
      </div>
      <div id="feedback" class="tab-content">
        <h1>Feedback</h1>
	<p>If you like this extension; wanna know the source code; want a feature implemented or found a bug, please consider visiting its <a href="https://github.com/pvpscript/page-stat">github page</a>.</p>
      </div>
    </div>
  <script src="options.js"></script>
  </body>
</html>
