<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="options.css">
  </head>
  <body>
    <div class="sidebar">
      <a href="#how-to-use">How to use</a>
      <a href="#settings">Settings</a>
      <a href="#storage">Storage</a>
      <a style="color: #E0FFFF" href="../statistics/index.html">Statistics</a>
      <a href="#feedback">Feedback</a>
    </div>
    <div class="main">
      <div id="how-to-use" class="tab-content">
        <h1>How to use</h1>
	<p>Right after installing the extension, it will start collecting time data from the sites accessed by following the default settings, defined in the <span class="highlight">Setting</span> section that can be found in the menu on the left.</p>
	<p>Clicking on the extension menu, it will show up information about the current site.<p>
	<figure>
	  <img src="../images/menu.png" alt="menu" class="center-image">
	  <figcaption>Extension menu</figcaption>
	</figure>
	<p>The first two lines of information give the current <span class="highlight">host name</span> and the <span class="highlight">host status</span>. The host status tells if the extension is collecting the usage time for the current host. By deactivating it, it will stop calculating the <span class="highlight">time spent</span>. This configuration can be changed anytime by visiting the host again or by going into the <span class="highlight">Settings</span> section.</p>
	<p>The middle section displays the <span class="highlight">time spent</span> in that host on the current day.</p>
	<p>Lastly, the <span class="highlight">Show statistics</span> button opens up the overall statistics page, where it shows usage statistics for every visited page since the extension was installed. The same page can be accessed by clicking the <span class="highlight">Statistics</span> option in the menu on the left.</p>
      </div>
      <div id="settings" class="tab-content">
        <h1>Settings</h1>
	<p>Extension settings regarding protocol matching, hosts and runtime logging.</p>
	<fieldset>
	  <legend>Protocols</legend>
	  <div class="elements">
            <input type="radio" name="pMatching" id="include">
	    <label for="include">Match only these protocols</label>
            <input type="radio" name="pMatching" id="exclude">
	    <label for="exclude">Match every protocol, except these</label>
	    <div class="input-group">
	      <input type="text" name="protocols" placeholder="protocols" pattern="[a-zA-Z]*(,[a-zA-Z]+)*" title="Comma separated values" id="protocols">
	      <button>Apply</button>
	    </div>
	    <span class="error" id="protocol-error">Values must be comma separated.</span>
	  </div>
	</fieldset>
	<fieldset>
	  <legend>Hosts</legend>
	  <div class="frame">
	    <table id="host-table">
	      <tr>
	        <th style="width: 90%;">HOST</th>
	        <th style="width: 10%;">ACTIVE</th>
	      </tr>
	    </table>
	  </div>
	</fieldset>
	<fieldset>
	  <legend>Logging</legend>
	  <div class="elements">
	    <input type="checkbox" name="log" id="log">
	    <label for="log">Enable event logs</label>
	  </div>
	</fieldset>
      </div>
      <div id="storage" class="tab-content">
        <h1>Storage</h1>
	<p>Info regarding the storage</p>
	<h3>Why unlimited?</h3>
	<p>It was decided to use unlimited storage for the simple reason that the default maximum storage value is way too prohibitive, speaking for long term usage of this extension. If this is used long enough and lots of sites as accessed daily, it can take over 8MB of data (see estimation below).</p>
	<h3>Estimation</h3>
	<p>To understand the estimation, let's consider the extension's storage structure, as seen below:</p>
	<div class="code" id="storage-structure"></div>
	<p>It's also important to consider that this is the structure for a single host and a single date. The real world usage would have several hosts and several dates for each host.</p>
	<p>With that in mind, an estimation was taken considering the current google favicon as base64, for a usage gap of 10 years with 1000 hosts, each one having a whole day usage every single day, and it yielded a usage of 84926001B, which roughly translates to 84.9MB.</p>
	<p>This is a very large number, but keep in mind that it's the 'worst case scenario' for a very long usage span.</p>
	<p>The code used for this estimation can be found <a href="https://gist.github.com/pvpscript/37c5999a1d32927f25630f2fc907ebb0">here</a>.</p>
	<h3>Current storage</h3>
	<p>The current local storage value in bytes is: <span class="highlight" id="curr-usage"></span></p>
	<h3>Export data</h3>
	<p>Right-click the 'export' link and choose 'Save link as...' to save.</p>
	<p style="margin-bottom: 5px;">Pages storage data (local): <a name="download" id="pagesStorage">export</a>.</p>
	<p style="margin-top: 5px;">Settings storage data (sync): <a name="download" id="settingsStorage">export</a>.</p>
	<h3>Import data</h3>
	<p>Select a storage type to import. Be aware that the imported data will <span class="danger">completely overwrite</span> the current corresponding storage.</p>
	<div style="display: table; width: 100%;" id="import-table">
	  <div style="display: table-row">
	    <label for="pagesImport" style="display: table-cell; width: 10%;">Pages:</label>
	    <input type="file" style="display: table-cell; width: 100%;" accept="application/json" id="pagesImport">
	  </div>
	  <div style="display: table-row">
	    <label style="display: table-cell; width: 10%;" for="settingsImport">Settings:</label>
	    <input style="display: table-cell; width: 100%;" type="file" accept="application/json" id="settingsImport">
	  </div>
	</div>
	<div class="result-group">
          <span class="error" id="import-error"></span>
	  <span class="success" id="import-success"></span>
	</div>
      </div>
      <div id="feedback" class="tab-content">
        <h1>Feedback</h1>
	<p>If you like this extension; wanna know the source code; want a feature implemented or found a bug, please consider visiting its <a href="https://github.com/pvpscript/page-stat">github page</a>.</p>
      </div>
    </div>
  <script type="module" src="options.js"></script>
  </body>
</html>
